header
{/*
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background:"comp.pnp";
    background-attachment: no-repeat;*/
        background-image: url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg) ;
            background-position: center center;
            background-repeat:  no-repeat;
            background-attachment: fixed;
            background-size:  cover;
            background-color: #999;
}

div, body{
    margin: 0;
    padding: 0;
    font-family: exo,sans-serif;
    
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
   border: 1px solid white; 
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}

.button 
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.footer{
    height: 40;
    background-color:black;
    padding: 1rem;
    }
footer{
  position: absolute;;
  right: 0;
  bottom: 0;
  left: 0;
}


